##################################################################################################
#                        AdvancedSolarPanels Molecular Transformer Recipes                       #
##################################################################################################
# Format of recipe: "inputItem*stackSize;outputItem*outputStackSize;energy"                      #
# InputItem (and outputItem) format:                                                             #
# "OreDict:forgeOreDictName" or "minecraft:item_name@meta" or "modID:item_name@meta"             #
# New line = new recipe.                                                                         #
# Add "#" before line to skip parsing line/recipe                                                #
##################################################################################################
version=2.0
##################################################################################################
minecraft:glowstone_dust; advanced_solar_panels:crafting@1; 1250000
galacticraftplanets:basic_item_venus@4; advanced_solar_panels:crafting@1; 250000
appliedenergistics2:material@12; contenttweaker:dilithium_seed; 500000
minecraft:skull@1; minecraft:nether_star; 100000000
minecraft:wool@4; OreDict:glowstone; 500000
minecraft:wool@11; OreDict:blockLapis; 500000
minecraft:wool@3; OreDict:blockApatite; 500000
minecraft:wool@14; OreDict:blockRedstone; 500000
OreDict:gemQuartz; OreDict:gemCertusQuartz; 500000
OreDict:dirt; OreDict:blockClay; 100000
minecraft:coal@1; OreDict:gemCoal; 100000
OreDict:netherrack; minecraft:gunpowder; 100000
OreDict:gemCoal; OreDict:gemDiamond; 10000000
OreDict:ingotGold; OreDict:ingotPlatinum; 10000000
OreDict:ingotMeteoricIron; OreDict:ingotIridium; 10000000
extrautils2:ingredients@3; galacticraftcore:item_basic_moon@2; 5000000